body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--dark-grey);
  height: 66vh;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  min-height: 100%;
  overflow-y: auto;
  padding-inline: 20px;
  padding-block: 25px;
}

.rank {
  position: relative;
  width: 100px;

  img {
    position: absolute;
    z-index: 2;
    bottom: -60px;
    max-width: 95px;
  }
}

.rank-3 img {
  bottom: -46px;
}

.rank-5 img {
  bottom: -47px;
}

:is(.rank-2, .rank-4) {
  img {
    bottom: -44px;
  }
}



.leaderboard_user_photo {
  width: 47px;
  position: absolute;
  left: 25px;
  top: -13px;
  /* bottom: 20px; */
  border-radius: 50%;
  /* Makes the image circular */
  object-fit: cover;
  /* Ensures the image fits well inside */
}